.icon {
    max-width: 40px;
    height: 40px;
    cursor: pointer;
}

.tab {
    width: 200px;
    height: 44px;
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-style: solid 1px;
    border-color: #755535;
    z-index: 0;
    background-color: #FFF4DE;
}

.active_tab {
    border-bottom: 0;
    z-index: 2;
    background-color: #FFFBF3;
}

input {
    border-radius: 10px;
    border-color: #755535;
    border-style: groove;
}

button {
    cursor: pointer;
}

.active_section {
    width: 391px;
    border: solid 2px;
    border-color: #755535;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    margin-top: -2px;
    height: 600px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #FFFBF3;
    z-index: 1;
}

#add_section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#input_number {
    width: 50px;
}

#input_text {
    width: 250px;
}

.task_to_do {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #755535;

}

.task_done {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #755535;
}

.flex_row {
    display: flex;
}

.margin_right {
    margin-right: 20px;
}
li, ul {
display: inline;
list-style: none;
}